/* build time:Sun Dec 14 2025 00:19:29 GMT+0800 (中国标准时间)*/
@font-face{font-family:oppo-sans;font-display:swap;src:url(/custom/fonts/oppo-sans.woff2) format('woff2'),url(/custom/fonts/oppo-sans.ttf) format('truetype')}
/* rebuild by neat */