/* build time:Thu Dec 11 2025 18:58:28 GMT+0800 (中国标准时间)*/
@font-face{font-family:oppo-sans;font-display:swap;src:url(/custom/fonts/oppo-sans.woff) format('woff2'),url(/custom/fonts/oppo-sans.ttf) format('truetype')}
/* rebuild by neat */