/* build time:Thu Dec 11 2025 18:47:01 GMT+0800 (中国标准时间)*/
@font-face{font-family:oppo-sans;src:url(/custom/fonts/oppo-sans.woff) format('woff2'),url(/custom/fonts/oppo-sans.ttf) format('truetype');font-display:swap}
/* rebuild by neat */