/* build time:Thu Dec 11 2025 19:44:59 GMT+0800 (中国标准时间)*/
#welcome-info{overflow:hidden;border-radius:14px;--kouseki-welcome-color:#49B1F5;--kouseki-ip-color:#49B1F5;--kouseki-gl-size:16px!important}
/* rebuild by neat */