/* build time:Sat Dec 13 2025 19:39:19 GMT+0800 (中国标准时间)*/
#welcome-info{overflow:hidden;border-radius:14px;--kouseki-welcome-color:#49B1F5;--kouseki-ip-color:#49B1F5;--kouseki-gl-size:16px!important}
/* rebuild by neat */